.class1{
color: turquoise;
font-family:Arial;
font-size:24pt;
} 

.class2{
color: mediumpurple;
font-family: Calibri;
font-size:23pt;
}

.class3{
color: deeppink;
font-family: sans-serif;
font-size:22pt;
}